
/* --- EFECT FADE IN WEBSITE --- */
@keyframes fadeInEfect {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header, main {
    animation: fadeInEfect 1s ease-out;
}

/* CONTAINER CU POZITIE RELATIVA */
.carousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Pe desktop */
    min-height: 300px;
    overflow: hidden;
    background-color: white;
    /* Fundal pana se incarca imaginile */
}

/* RESPONSIVE WEB DESIGN - MOBIL */
@media (max-width: 768px) {
    .carousel-container {
        height: 20vh;
        /* Mai mic pe mobil, dar fix */
        min-height: 150px;
    }
}

/* CENTRARE VERTICALA BUTOANE */
.carousel-btn {
    position: absolute;
    top: 50% !important;
    /* DIMENSIUNE 50% din inaltimea containerului */
    transform: translateY(-50%) !important;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8rem;
    color: #003366;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.carousel-btn.prev {
    left: 5px;
}

.carousel-btn.next {
    right: 5px;
}

.carousel-slide img {
    width: 33.333%;
    height: 100%;
    object-fit: cover;
}

.product-wrapper {
    transition: transform 0.2s;
}

.product-wrapper:hover {
    transform: scale(1.07);
}

/* IMAGINI PATRATE INDIFERENT DE FORMA LOR ORIGINALA */
.product-wrapper img {
    width: 100%;
    max-width: 150px;
    /* RWD MOBIL */
    margin: 0 auto;
    display: block;
}

@media (max-width: 576px) {
    .product-wrapper h3 {
        font-size: 0.85rem;
        /* RWD MOBIL */
    }
}

footer {
    width: 100%;
    margin-top: 50px;
}

footer ul li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 0.9rem;
    color: #ccc;
}

footer ul li:hover {
    color: red;
}

